<!doctype html>
<html lang="en">
{% load static %}
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <meta name="description" content="">
        <meta name="author" content="">

        <title>Sign Up - Professional Form</title>

        <!-- CSS FILES -->
        <link rel="preconnect" href="https://fonts.googleapis.com">

        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

        <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;300;400;700;900&display=swap" rel="stylesheet">

        <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
        <link href="{% static 'css/bootstrap-icons.css' %}" rel="stylesheet">

        <link rel="stylesheet" href="{% static 'css/slick.css' %}"/>

        <link href="{% static 'css/tooplate-little-fashion.css' %}" rel="stylesheet">

<!--

Tooplate 2127 Little Fashion

https://www.tooplate.com/view/2127-little-fashion

-->
    </head>

    <body>
<form method="post">
    {% csrf_token %}
        <section class="preloader">
            <div class="spinner">
                <span class="sk-inner-circle"></span>
            </div>
        </section>

        <main>

            <section class="sign-in-form section-padding">
                <div class="container">
                    <div class="row">

                        <div class="col-lg-8 mx-auto col-12">

                            <h1 class="hero-title text-center mb-5">Professional Form</h1>

                            <div class="row">
                                <div class="col-lg-8 col-11 mx-auto">
                                    <form role="form" method="post">

                                        <div class="form-floating">
                                            <input type="number" name="name1" id="id0" class="form-control" placeholder="Aadhaar Card" required>

                                            <label for="id0">Aadhaar Card</label>
                                        </div>

                                        <br>

                                        <div class="form-floating">
                                            <input type="number" name="name2" id="id1" class="form-control" placeholder="Bank Account" required>

                                            <label for="id1">Bank Account</label>
                                        </div>

                                        <br>

                                        <div class="form-floating">
                                            <input type="text" name="name3" id="id2" class="form-control" placeholder="Pancard" required>

                                            <label for="id2">Pancard</label>
                                        </div>

                                        <br>

                                        <div class="form-floating">
                                            <input type="text" name="name4" id="id3" class="form-control" placeholder="Election Id">

                                            <label for="id3">Election Id</label>
                                        </div>

                                        <br>

                                        <div class="form-floating">
                                            <input type="text" name="name5" id="id4" class="form-control" placeholder="Driving License">

                                            <label for="id4">Driving License</label>
                                        </div>

                                        <br>

                                        <div class="form-floating">
                                            <input type="text" name="name6" id="id5" class="form-control" placeholder="Passport">

                                            <label for="id5">Passport</label>
                                        </div>

                                        <br>

                                        <button type="submit" class="btn custom-btn form-control mt-4 mb-3">
                                            Submit
                                        </button>


                                    </form>
                                </div>
                            </div>

                        </div>

                    </div>
                </div>
            </section>

        </main>


</form>
    </body>
</html>
